.job{
  color: black;
  border: 1px solid #727C7F;
  font-family: 'Noto Sans', sans-serif;
}

p {
  text-align:justify;
}

.job:nth-child(4n+1) {
    background: #3C657F;
    border: 1px solid #3C657F;
    color: white;

}

.job:nth-of-type(4n+2) {
    background: #78CBFF;
      border: 1px solid #78CBFF;
}

.job:nth-of-type(4n+3) {
    background: #D1F8FF;
      border: 1px solid #D1F8FF;
}


.job:nth-of-type(4n+4) {
    background: #2E5B81;
      border: 1px solid #2E5B81;
      color: white;
}

.job:nth-of-type(4n+5) {
    background: #6096CC;
      border: 1px solid #6096CC;
}
